:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-Bold.woff2") format("woff2"),
        url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

@mixin div-same-size-as-background-img($url) {
    background-image: url($url);     
    background-size: contain;     
    background-repeat: no-repeat;     
    width: 100%;     
    height: 0;     
    padding-top: percentage(645 / 1919); 
}

body {
    background: #A51E1E;
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.loadingImage {
    height: 1000px;
    width: 1000px;
    position: absolute;
    &.spinning {
        -webkit-animation:spin 3s linear infinite;
        -moz-animation:spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }
    &.scale {
        animation: scale .5s linear;
    }
}

.backgroundImage {
    z-index: -1;
    height: 1000px;
    width: 1000px;
    position: fixed;
    transform: scale(8);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes scale {
    100% {
        transform: scale(8);
    }
}

.ageConfirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        color: white;
        font-size: 8rem;
    }
    div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        button {
            border: none;
            background: transparent;
            color: white;
            font-size: 8rem;
        }
    }
}

.tooYoung {
    @extend .ageConfirmation;
    display: none;
}

.mainContainer {
    z-index: -1;
    background: beige;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    header {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
            z-index: -1;
            position: absolute;
            top:0; bottom:0; left:0; right:0;
            width: 100%;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        .text {
            font-size: 6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                font-size: 3rem;
            }
            margin-bottom: 20px;
        }
    }
}

.bars {
    width: 70%;
    .big {
        background: black;
        height: 15px;
        margin-bottom: 10px;
    }
    .small {
        background: black;
        height: 10px;
    }
}


@media only screen and (max-device-width: 1000px) {
    .backgroundImage {
        transform: scale(4);
    }

    @keyframes scale {
        100% {
            transform: scale(4);
        }
    }
}