:root {
  font-size: 10px;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PTSerif;
  src: url("/fonts/PTSerif-Regular.woff2") format("woff2");
}

@font-face {
  font-family: PTSerifBold;
  src: url("/fonts/PTSerif-Bold.woff2") format("woff2");
}

body {
  font-family: PTSerif;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.backgroundContainer {
  z-index: -1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  margin: auto;
}

.loadingImage {
  height: 500px;
  width: 500px;
  &.spinning {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
  &.scale {
    animation: scale 0.5s linear;
  }
}

.backgroundImage {
  transform: scale(8);
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes scale {
  100% {
    transform: scale(8);
  }
}

.ageConfirmation {
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: white;
    font-size: 8rem;
    text-align: center;
  }
  div {
    width: 50%;
    display: flex;
    justify-content: center;
    button {
      border: none;
      background: transparent;
      color: white;
      font-size: 6rem;
      margin-top: 3rem;
      margin-left: 6rem;
      margin-right: 6rem;
      border: solid 4px white;
      border-radius: 10px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.tooYoung {
  @extend .ageConfirmation;
  display: none;
  h2 {
    color: white;
    font-size: 8rem;
  }
}

.mainContainer {
  margin: 5vw;
  display: none;
  z-index: -1;
  background: rgb(255, 255, 255);
  align-items: center;
  flex-direction: column;
  width: 90vw;
}

header {
  height: 500px;
  width: 100%;
  background-image: url("/img/foto_grupp.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    h1 {
      font-size: 10rem;
    }
    .smiley {
      position: absolute;
      top: -20px;
      left: -60px;
      width: 150px;
      transform: rotate(-30deg);
      transition: transform 0.5s cubic-bezier(0.63, 2.6, 0.58, 0.21) 0.1s;
    }
    h1:hover + .smiley,
    .smiley:hover {
      transform: rotate(-110deg);
    }
    p {
      font-size: 3rem;
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
    }
    margin-bottom: 20px;
  }
}

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 3rem;
  button {
    color: black;
    font-family: PTSerif;
    font-size: 2rem;
    margin-top: 4rem;
    padding: 1rem;
    background: rgb(255, 234, 48);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgb(119, 119, 119);
    transition: 0.3s ease;
  }
  button:hover {
    background: black;
    color: rgb(255, 234, 48);
  }
}

.resetAnimation {
  z-index: 2;
  position: absolute;
  top: 1px;
  right: 1px;
  background: #A51E1E;
  border: none;
  box-shadow: -3px 3px 10px 1px grey;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.mainContainer .gallery {
  padding: 4rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 300px;
  .item {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    img {
      width: 70px;
      margin-right: 2rem;
    }
    .text {
      h3 {
        text-decoration: underline;
        margin-bottom: 0.7rem;
        font-size: 2.6rem;
      }
    }
  }
}

.bars {
  width: 70%;
  .big {
    background: black;
    height: 8px;
    margin-bottom: 5px;
  }
  .small {
    background: black;
    height: 5px;
  }
}

.ctaArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  h2 {
    font-size: 8rem;
    font-family: PTSerifBold;
  }
  .artContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 2rem;
      width: 200px;
      font-size: 2rem;
    }
  }
}

.brewImg {
  max-width: 50vw;
  margin: 50px 0 50px 0;
  height: 30vw;
}

// gallery animation
.gallery {
  .item {
    transition: transform 0.3s ease;
  }
  .item:hover {
    transform: scale(1.1);
  }
}

// cta animation
.ctaArea {
  .underlined {
    height: 4px;
    width: 482px;
    background: black;
    transition: transform 0.3s ease-out 0.5s;
  }
  .underlined.notAnimated {
    transform: scaleX(0);
  }
  .underlined.animated {
    transform: scaleX(1);
  }
}

// Sign up form
form {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  input {
    font-size: 2.5rem;
  }
  button {
    align-self: center;
    color: black;
    font-family: PTSerif;
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    background: rgb(255, 234, 48);
    border: none;
    max-width: 40%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgb(119, 119, 119);
    transition: 0.3s ease;
  }
  button:hover {
    background: black;
    color: rgb(255, 234, 48);
  }
}

footer {
  background: lightgrey;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  span {
    margin: 2rem;
    .title {
      font-size: 6rem;
    }
    .about {
      font-size: 3rem;
    }
    li {
      list-style: none;
    }
    a {
      opacity: 70%;
      font-size: 2rem;
      color: black;
      text-decoration: none;
    }
  }
  .omnipollo {
    position: relative;
    .smiley {
      position: absolute;
      top: 0;
      left: -20px;
      width: 50px;
      transform: rotate(-30deg);
      transition: transform 0.5s cubic-bezier(0.63, 2.6, 0.58, 0.21) 0.1s;
    }
    &:hover {
      .smiley {
        transform: rotate(-110deg);
      }
    }
  }
}

.cookieAccept {
  font-family: PTSerif;
  display: none;
  border-radius: 10px;
  box-shadow: -3px 3px 10px 1px grey;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 5px;
  right: 5px;
  background: white;
  width: 200px;
  height: 150px;
  p {
    margin: 2rem;
    font-size: 1.5rem;
  }
  button {
    padding: .5rem 1rem;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: -3px 3px 10px 1px grey;
  }
}

@media only screen and (max-width: 1200px) {
  .mainContainer .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .backgroundImage {
    transform: scale(8);
  }

  @keyframes scale {
    100% {
      transform: scale(8);
    }
  }

  .ageConfirmation {
    h1 {
      font-size: 10vw;
    }
    div {
      width: 100%;
      button {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        font-size: 5rem;
      }
    }
  }

  .mainContainer header {
    .text {
      h1 {
        font-size: 10vw;
      }
      p {
        font-size: 3vw;
      }
      .smiley {
        top: 0;
        left: -20px;
        width: 50px;
      }
    }
    .signUp {
      font-size: 4vw;
    }
  }

  .mainContainer .gallery {
    grid-template-columns: repeat(1, 1fr);
    .item {
      font-size: 1.5rem;
      h3 {
        margin-bottom: 0.4rem;
      }
    }
  }

  .ctaArea {
    h2 {
      font-size: 8vw;
      margin-bottom: 1rem;
    }
    .underlined {
      width: 48vw;
    }
    form {
      max-width: 70vw;
      font-size: 1.6rem;
    }
    input {
      font-size: 1.8rem;
    }
    button {
      max-width: 60%;
    }

    .artContainer {
      flex-direction: column;
    }
  }

  .brewImg {
    max-width: 90vw;
    height: 50vw;
  }

  .loadingImage {
    width: 300px;
    height: 300px;
  }

  footer {
    flex-direction: column;
    span {
      .title {
        font-size: 10vw;
      }
    }
  }
}
