body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.loadingImage {
    height: 1000px;
    width: 1000px;
    position: absolute;
}

.loadingImage.spinning {
    -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation: spin 5s linear infinite;
}

.loadingImage.scale {
    animation: scale 1s linear;
}

.backgroundImage {
    height: 1000px;
    width: 1000px;
    position: absolute;
    transform: scale(10);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes scale {
    100% {
        transform: scale(10);
    }
}